PauseMenu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(black, 0.8);
	pointer-events: all;
	color: white;
	font-family: Poppins;
	font-size: 60px;
	align-items: center;
	padding-left: 20px;
	transition: opacity 0.3s ease;
	> .option
	{
		flex-direction: column;
		> h2
		{
			font-size: 120px;
			font-weight: bolder;
		}

		> .button
		{
			&:hover
			{
				color: aqua;
				font-size: 70px;
				sound-in: ui.navigate.forward;
				transition: all 0.2s ease;
			}
			
		}
	}

	&.hide
	{
		opacity: 0;
	}
}